.backdrop {
    z-index: 50000;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000e1;
    background-color: #000000e1;
    display: flex;
    align-items: center;
    justify-content: center;
}