.modal {
    position: fixed !important;
    width: clamp(20%, 500px, 90%) !important;
    margin-left: calc(50% - clamp(20%, 500px, 90%)/2);

    height: min(80%, 700px) !important;
    margin-top: calc(50vh - min(80%, 700px)/2);
    
    font-size: 2rem;
    padding: 0 2rem;
    border-radius: 12px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    font-weight: 100;
    margin: 0;
    padding: 0 12px;
}